.base {
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}
.table {
  table-layout: fixed !important;
}

.key,
.value {
  word-wrap: break-word;
}
