.imagesWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .imageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
      img {
        transform: scale(1.1);
      }
    }
  }
}
