.imagesWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  .imageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
@media screen and (max-width: 768px) {
  .imagesWrap {
    flex-direction: row;
    overflow-x: auto;
    height: 200px;
    overflow-y: hidden;
    .imageItem {
      flex: 0 0 200px;
      height: 100%;
      > img {
        object-fit: contain;
      }
    }
  }
}
