.panelWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panelItem {
  flex: 1;
}
.tabContent {
  flex: 1;
}
